<h2 class="viewTitle">Movies</h2>

<div class="movie clearfix" ng-repeat="movie in movies" ng-click="setTheOne(movie)" ng-class="{theOne: movie === theOne}">
  <p class="title">{{ movie.title }} <span class="year">({{ movie.release_date.substr(0,4) }})</span> </p>

  <div ng-if="theOne === movie" class="">
    <div ng-show="loading">Loading...</div>
    <div ng-hide="loading"> 
      <img src="http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w185{{movie.poster_path}}"></img>
      <div class="movieInfo">
        <p class="tagline"><i class="fa fa-quote-left"></i> <em>{{ details.tagline }}</em></p>
        <p class="releaseDate"><strong>Release Date:</strong> {{ movie.release_date | releaseDate }}</p>
        <p><strong>Summary:</strong> {{ details.overview }}</p>
        <p><strong>Runtime:</strong> {{ details.runtime }} min</p>
        <p><strong>Genres:</strong> 
          <ul class="genres">
            <li class="genre" ng-repeat="genre in details.genres">{{ genre.name }} <li>
          </ul>
        </p>
      <p><strong>Budget:</strong> ${{ details.budget }}</p>
      <p><strong>Revenue:</strong> ${{ details.revenue }}<p>
      </div>
    </div>
  </div>
<!--   <span class="year">{{ movie.year }}</span> -->
</div>