<!-- <h2 class="viewTitle">Movies</h2> -->
<div class="filter">
  <input type="text" placeholder="Search Movies" ng-model="movieFilter.title">
  <span>Sort By: </span>
  <button ng-click="order('release_date')">Year</button>
  <button ng-click="order('rt')" >Rating</button>
  <button ng-click="order('date_added')" >Date Added</button>
</div>



<!-- Display Each Movie -->
<div class="movie background clearfix" ng-repeat="movie in movies | filter:movieFilter | orderBy:orderBy:reverse" ng-click="setTheOne(movie)" ng-class="{theOne: movie === theOne}">
  <p class="title">{{ movie.title }} 
    <span class="year">({{ movie.release_date.substr(0,4) }})</span> 
    <span class="popularity" ng-if="movie.ratings">{{ movie.ratings.critics_score }}%<span>
  </p>


  <div ng-if="theOne === movie" class="">
    <div class="loading" ng-show="loading"> </div>
    <div ng-hide="loading"> 
      <img src="http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w185{{movie.poster_path}}"></img>

      <div class="movieInfo" ng-if="!edit">
        <p class="tagline"><i class="fa fa-quote-left"></i> <em>{{ details.tagline }}</em></p>
        <p class="releaseDate"><strong>Release Date:</strong> {{ movie.release_date | releaseDate }}</p>
        <p><strong>Summary:</strong> {{ details.overview }}</p>
        <p><strong>Runtime:</strong> {{ details.runtime }} min </p>
        <p><strong>Genres:</strong> 
          <ul class="genres">
            <li class="genre" ng-repeat="genre in details.genres">{{ genre.name }} <li>
          </ul>
        </p>
        <p><strong>Budget:</strong> ${{ details.budget }}</p>
        <p><strong>Revenue:</strong> ${{ details.revenue }}</p>
        <p><strong>Filename:</strong> {{ movie.filename }}</p>
        <p><strong>Downloaded:</strong> {{ movie.date_added | releaseDate }}</p>
        <p><strong>Trailers:</strong>
          <ul class='trailers'>
            <li class='trailer' ng-repeat="trailer in details.trailers.youtube"><a href="http://youtube.com/watch?v={{trailer.source}}">{{trailer.name}} </a></li>
          </ul>
        </p>
        <button class="editbutton" ng-click="toggleEdit()" >Edit</button>
      </div>


      <div class="movieInfo" ng-if="edit">
      <form ng-submit="updateInfo($index, movie)">
        <p class="tagline"><i class="fa fa-quote-left"></i> <em>{{ details.tagline }}</em></p>
        <!-- <i class="fa fa-quote-left tagline"></i><input ng-model="details.tagline" type="text" class="infoEdit tagline" ></input> -->
        <p class="releaseDate"><strong>Release Date:</strong> {{ movie.release_date | releaseDate }}</p>
        <p><strong>Summary:</strong> {{ details.overview }}</p>
        <p><strong>Runtime:</strong> {{ details.runtime }} min </p>
        <!--  <p><strong>Summary:</strong> <input  ng-model="details.overview" type="text" class="infoEdit" ></input></p>
        <p><strong>Runtime:</strong> <input ng-model="details.runtime" type="text" class="infoEdit" ></input> min </p> -->
        <p><strong>Genres:</strong> 
          <ul class="genres">
            <li class="genre" ng-repeat="genre in details.genres">{{ genre.name }} <li>
          </ul>
        </p>
        <p><strong>Budget:</strong> ${{ details.budget }}</p>
        <p><strong>Revenue:</strong> ${{ details.revenue }}</p>
        <p><strong>Filename:</strong> <input ng-model="movie.filename" type="text" class="infoEdit" value="{{ movie.filename }}"></input></p>
        <p><strong>Downloaded:</strong> {{ movie.date_added | releaseDate }}</p>
        <p><strong>Trailers:</strong>
          <ul class='trailers'>
            <li class='trailer' ng-repeat="trailer in details.trailers.youtube"><a href="http://youtube.com/watch?v={{trailer.source}}">{{trailer.name}} </a></li>
          </ul>
        </p>
        <input type="submit" value="Update"></input>
      </form>
        <button class="editbutton" ng-click="toggleEdit()" >Cancel</button>
      </div>



    </div>
  </div>
</div>