<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Backbone.js Library</title>
        <link rel="stylesheet" href="css/screen.css">
    </head>
    <body>
		<h1>Test Site Operational</h1>
	
		<div id="movies">
		</div>
		
		
		
		<script id="movieListEntry" type="text/template">
			<img src="<%= poster %>"/>
			<ul>
				<li><strong><%= title %></strong></li>
				<li><%= year %></li>
				<li><%= poster %></li>
			</ul>
			<button class="delete">Delete</button>
		</script>		
        <script src="js/lib/jquery.min.js"></script>
        <script src="js/lib/underscore-min.js"></script>
        <script src="js/lib/backbone-min.js"></script>
        <script src="js/models/Movie.js"></script>
        <script src="js/collections/MovieList.js"></script>
        <script src="js/views/MovieListEntryView.js"></script>
        <script src="js/views/MovieListView.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>