.movie{
  margin: 3px 0;
  min-height: 60px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  border-style: solid;
  border-width: 2px;
  border-color: #E0E0E0;
}

.movie:hover{
  background-color: #ddffee;
}

.movie .title{
  padding-left: 10px;
  font-size: 2em;
  color: #335533;
}

.movie .title .year{
  font-size: .75em;
  color: #335533;
}

.movie img{
  float: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;


}

.movieInfo{
  padding-left: 205px;
}

.theOne{
  background-color: #ddffee;
  /*background-color: #E0E0E0;*/
}

.popularity{
  color: #335533;
  float: right;
  margin-right: 10px;
}

.tagline{
  color: #669977;
  font-size: 2em;
}

.navbar-brand{
  color: #669977;
}

.navbar-text{
  color: #335533;
}

.viewTitle{
  color: #669977;
}

.genres{
  padding: 0;
  list-style-type: none;
}

.genre{
  display: inline;
  background-color: #D0D0D0;
  margin: 3px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

}

.editButton{
  float: right;
}

input.infoEdit{
  width: 85%;
}

.loading{
  height: 100px;
}

.trailers{
  padding: 0;
  list-style-type: none;
}
.genre{
}

.background{
  background: rgb(54, 25, 25);
  background: rgba(255,255,255, 1);
}
/*
.genres ul li{
  display: inline;
}*/