.movie{
  height: 60px;
}

.movie:hover{
  background-color: #88cc99;
}

.movie .title{
  font-size: 2em;
  color: #335533;
}

.movie .year{
 
}

.navbar-brand{
  color: #669977;
}

.navbar-text{
  color: #335533;
}

.viewTitle{
  color: #669977;
}