.movie{
  min-height: 60px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.movie:hover{
  background-color: #88cc99;
}

.movie .title{
  padding-left: 10px;
  font-size: 2em;
  color: #335533;
}

.movie .title .year{
  font-size: .75em;
  color: #335533;
}

.movie img{
  float: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.movieInfo{
  padding-left: 205px;
}

.theOne{
  background-color: #E0E0E0;
}

.tagline{
  color: #669977;
  font-size: 2em;
}

.navbar-brand{
  color: #669977;
}

.navbar-text{
  color: #335533;
}

.viewTitle{
  color: #669977;
}

.genres{
  padding: 0;
  list-style-type: none;
}

.genre{
  display: inline;
  background-color: #D0D0D0;
  margin: 3px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

}


/*
.genres ul li{
  display: inline;
}*/